<!doctype html>
<html lang="en" style="font-size: 100px">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="__PUBLIC__/Home/css/common.css">
</head>
<body>
<div class="header">
    <div class="banxin">
        <a href=""></a>
        <span>到达城市</span>
    </div>
</div>
</body>
<script src="__PUBLIC__/Home/js/common.js"></script>
</html>