<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>我的订单</title>
    <link rel="stylesheet" href="__PUBLIC__/Home/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/less/orders.css">
    <script src="__PUBLIC__/Home/js/jquery.js"></script>
    <script src="__PUBLIC__/Home/js/jquery.qrcode.min.js"></script>
    <script src="__PUBLIC__/Home/js/common.js"></script>
    <script src="__PUBLIC__/Home/js/orders.js"></script>
</head>
<body>
<!--header start-->
<header class="w">
    <a href="#" onClick="javascript:history.back(-1);">&lt;</a>
    <span>我的订单</span>
</header>
<!--header end-->
<!--content s-->
<!--<div class="content">
    &lt;!&ndash;top s&ndash;&gt;
    <div class="con-top clearfix">
        <div class="con-top-l fl">固定班</div>
        <div class="con-top-r fr">未支付</div>
    </div>
    &lt;!&ndash;top e&ndash;&gt;
    &lt;!&ndash;con s&ndash;&gt;
    <div class="con-con">
        <div>
            <span>泸州南</span>
            <span></span>
            <span>成都北</span>
        </div>
        <div>
            <span>发车时间:</span>
            <span>08月08日</span>
            <span>08:00发车</span>
        </div>
        <div style="text-align: right">
            <span>共1张票</span>
            <span>服务费￥3.00</span>
            <span>金额<span>￥</span><span>290</span></span>
        </div>
    </div>
    &lt;!&ndash;con e&ndash;&gt;
</div>-->
<div id="order-content">
<volist name="order_list" id="f">
    <div class="content">
        <!--top s-->
        <div class="con-top clearfix">
            <div class="con-top-l fl">固定班</div>

            <if condition="$f['th_status'] eq 1 ">
            <div class="con-top-r fr" style="color: #989898">已废弃</div>
            <elseif condition="$f['th_status'] eq 2"/>
                <div class="con-top-r fr" style="color: #989898">订票成功</div>

            <else />
                <div class="con-top-r fr">待支付</div>
             </if>
        </div>
        <!--top e-->
        <!--con s-->
        <div class="con-con order-list" orderid="{$f.th_id}">
            <div>
                <span>{$f.tml_beginstation}</span>
                <span></span>
                <span>{$f.tml_endstation}</span>
            </div>
            <div>
                <span>发车时间:</span>
                <span>{$f.th_noofrunsdate}</span>
                <span>{$f.tml_noofrunstime}发车</span>
            </div>
            <div style="text-align: right">
                <span>共1张票</span>
                <span>服务费￥3.00</span>
                <span>金额<span>￥</span><span>{$f.th_pricetotal}</span></span>
            </div>
        </div>
        <!--con e-->
    </div>
</volist>
</div>

<!--content e-->
<!--footer s-->
<div class="but clearfix">
    <button class="fl all-type">
        <span>全部</span>
    </button>
    <button class="fl not-paid">
        <span>未支付</span>
    </button>
    <button class="fr not-go">
        <span>未出行</span>
    </button>
</div>
<!--footer e-->
</body>
<script src="__PUBLIC__/Home/js/jquery.js"></script>
<script>
    $(document).ready(function(){
        $("#order-content").on('click','.order-list', function() {
            var orderid=$(this).attr('orderid');
            window.location.href="order_info?orderid="+orderid;
        });
        $(".all-type").click(function(){
            type = 99;
            page=1;
            $('#order-content').html('');
            loadMore();
        });
        $(".not-paid").click(function(){
            type = 0;
            page=1;
            $('#order-content').html('');
            loadMore();
        });
        $(".not-go").click(function(){
            type = 2;
            page=1;
            $('#order-content').html('');
            loadMore();
        });
    });
    var isloading = false;
    var winH = $(window).height();
    $(window).bind("scroll", function () {
        var pageH = $(document.body).height();
        var scrollT = $(window).scrollTop(); //滚动条top
        var aa = (pageH-winH-scrollT)/winH;
        if(aa < 0.02 && !isloading) {
            isloading = true;
            loadMore();
        }
    });
    var page= 2;
    var type=99;
    function loadMore(){
        var list = new Array();
        var obj = {
            "uid":"{$uid}",
            "page":page,
            "type":type,
        };
        $.ajax({
            type:'post',
            url:"ajax_list",
            data:obj,
            dataType:'json',
            success:function(result){
                console.log(result);
                //console.log(result);
                $.each( result, function(i , n){
                    var str_status='';
                    if (n.th_status==1) {
                        str_status += '<div class="con-top-r fr" style="color: #989898">已废弃</div>';
                    }
                    else if(n.th_status==2){
                        str_status += '<div class="con-top-r fr" style="color: #989898">订票成功</div>';
                    }
                    else{
                        str_status += '<div class="con-top-r fr">待支付</div>';
                    }
                    var str = ' <div class="content"><div class="con-top clearfix"> <div class="con-top-l fl">固定班</div>' +
                    str_status+ '</div><div class="con-con order-list" orderid="'+ n.th_id +'">' +
                    '<div><span>'+n.tml_beginstation+'</span><span></span><span>'+n.tml_endstation+'</span></div><div><span>发车时间:</span>' +
                    '<span>'+n.th_noofrunsdate+'</span><span>'+n.tml_noofrunstime+'发车</span></div><div style="text-align: right">' +
                    '<span>共1张票</span><span>服务费￥3.00</span><span>金额<span>￥</span><span>'+n.th_pricetotal+'</span></span>' +
                    '</div></div></div>';
                    $('#order-content').append(str);
                });
                page++;
                isloading = false;
            }
        });

    }




</script>
</html>