<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>我的订单</title>
    <link rel="stylesheet" href="__PUBLIC__/Home/css/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/less/orderDetails2.css">
    <script src="__PUBLIC__/Home/js/jquery.js"></script>
    <script src="__PUBLIC__/Home/js/jquery.qrcode.min.js"></script>
    <script src="__PUBLIC__/Home/js/common.js"></script>
</head>
<body>
<!--header start-->
<header class="w">
    <a href="#" onClick="javascript:history.back(-1);">&lt;</a>
    <span>订单详情</span>
</header>
<!--header end-->
<!--content s-->
<div class="content">
    <!--top s-->
    <div class="con-top clearfix">
        <p>订票成功</p>
        <p>取票验证码: <a style="text-decoration:none;" href="../code/index?orderid={$order_info.th_id}"><span>{$order_info.th_orderid}</span></a></p>
    </div>
    <!--top e-->
    <!--con s-->
    <div class="con-con">
        <div class="con-con-t2"><p>车票信息</p></div>
        <div class="con-con-c clearfix">
            <div><span>{$order_info.tml_beginstation}</span></div>
            <div>
                <span>{$order_info.th_noofrunsdate} {$order_info.tml_noofrunstime}</span>
                <span></span>
                <span>固定班 {$order_info.tml_busmodel}</span>
            </div>
            <div><span>{$order_info.tml_endstation}</span></div>
        </div>
        <div class="con-con-t2"><p>乘客信息</p></div>
        <volist name="purchaser_list" id="f">
            <div class="con-con-b clearfix">
                <span>{$f.cpm_purchasername}<span>全票</span></span>
                <span>{$f.cpm_tel}</span>
                <span>保险</span>
                <span>未取票</span>
            </div>
        </volist>
        <div class="con-con-b2 clearfix">
            <p>订单金额</p>
            <p><span>￥</span>{$order_info.th_pricetotal} <span>&gt;</span></p>
        </div>
        <div class="con-con-b3 clearfix">
            <p>保险</p>
            <p>乘客意外伤害保险 (3元) <span>&gt;</span></p>
        </div>
    </div>
    <!--con e-->
</div>
<!--content e-->


</body>
<script>

</script>
</html>