<!doctype html>
<html lang="en" style="font-size: 100px">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>支付方式</title>
    <link rel="stylesheet" href="__PUBLIC__/Home/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/less/payment.css">
</head>
<body>
<div class="header">
    <a href="#" onClick="javascript:history.back(-1);"></a><div>支付方式</div>
</div>

<div class="box-t">
    <div id="date">请在<span><span id="minute">{$m}</span>分<span id="second">{$s}</span>秒</span>内完成支付逾期将自动取消订单</div>

    <div>
        <span>订购业务</span>
        <span>汽车业务票</span>
    </div>
    <div>
        <span>金额</span>
        <span>¥{$price}</span>
    </div>
    <div>
        <span>订单号</span>
        <span>{$order_id}</span>
    </div>
</div>

<div class="box-b">
    <div>请选择支付方式</div>
    <div>
        <span class="fl"></span>
        <span class="fl">微信支付</span>
        <span class="fr"></span>
    </div>
</div>

<div class="foot">
    <span class="fl">¥</span><span class="fl">{$price}</span><span class="fl">微信支付</span><span id="btn1" class="fr" onclick="callpay()">去支付</span>
</div>

</body>
<script src="__PUBLIC__/Home/js/common.js"></script>

<script>
    (function() {
        var m = {$m};//传个分钟数到这里
        var s = {$s};
        function showtime(){
            document.getElementById('minute').innerHTML = m;
            document.getElementById('second').innerHTML = s;
            s = s-1;
            if(s<0){
                m = m -1;
                s = 59
            }
            if(m<0){
                //window.location='http://www.ewceo.com';//倒计时结束跳转到www.ewceo.com
                window.location.href="time_up?order_id="+{$o_id};
            }
        }
        clearInterval(settime);
        var settime = setInterval(function(){
            showtime();
        },1000);
    })();
    function jsApiCall()
    {
        var data={$data};
        WeixinJSBridge.invoke(
                'getBrandWCPayRequest', data,
                function(res){
                    WeixinJSBridge.log(res.err_msg);
                    //alert('err_code:'+res.err_code+'err_desc:'+res.err_desc+'err_msg:'+res.err_msg);
                    //alert(res.err_code+res.err_desc+res.err_msg);
                    //alert(res);
                    if(res.err_msg == "get_brand_wcpay_request:ok"){
                        alert("支付成功!");
                        window.location.href="http://m.blog.csdn.net/article/details?id=72765676";
                    }else if(res.err_msg == "get_brand_wcpay_request:cancel"){
                        alert("用户取消支付!");
                    }else{
                        alert("支付失败!");
                    }
                }
        );
    }

    function callpay()
    {
        if (typeof WeixinJSBridge == "undefined"){
            if( document.addEventListener ){
                document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
            }else if (document.attachEvent){
                document.attachEvent('WeixinJSBridgeReady', jsApiCall);
                document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
            }
        }else{
            jsApiCall();
        }
    }
</script>
</html>