.header {
  background-color: #44B549;
  height: 3.57rem;
}
.header > div:nth-child(1) {
  color: #fff;
  font-size: 0.36rem;
  padding: 0.3rem 0 0 0.3rem;
}
.header > div:nth-child(2) {
  color: #fff;
  text-align: center;
}
.header > div:nth-child(2) > div:nth-child(1) {
  box-sizing: border-box;
  line-height: 0;
  width: 1.24rem;
  height: 1.24rem;
  margin: 0 auto;
  background: url("../img/icons/99.png") no-repeat 50% 50%;
  background-size: contain;
  margin-top: 0.7rem;
}
.header > div:nth-child(2) > div:nth-child(2) {
  font-size: 0.26rem;
  padding-top: 0.15rem;
}
.cont > div:nth-child(1) {
  height: 0.8rem;
  margin-top: 0.5rem;
  background-color: #fff;
}
.cont > div:nth-child(1) > span:nth-child(1) {
  box-sizing: border-box;
  line-height: 0;
  float: left;
  width: 0.41rem;
  height: 0.41rem;
  background: url("../img/icons/25.png") no-repeat 50% 50%;
  background-size: contain;
  margin-left: 0.3rem;
  margin-top: 0.19rem;
}
.cont > div:nth-child(1) > span:nth-child(2) {
  float: left;
  font-size: 0.28rem;
  line-height: 0.8rem;
  padding-left: 0.34rem;
}
.cont > div:nth-child(1) > span:nth-child(3) {
  box-sizing: border-box;
  line-height: 0;
  float: right;
  width: 0.2rem;
  height: 0.34rem;
  background: url("../img/icons/29.png") no-repeat 50% 50%;
  background-size: contain;
  margin-right: 0.3rem;
  margin-top: 0.23rem;
}
.cont > div:nth-child(2) {
  height: 0.8rem;
  margin-top: 0.5rem;
  background-color: #fff;
}
.cont > div:nth-child(2) > span:nth-child(1) {
  box-sizing: border-box;
  line-height: 0;
  float: left;
  width: 0.41rem;
  height: 0.41rem;
  background: url("../img/icons/26.png") no-repeat 50% 50%;
  background-size: contain;
  margin-left: 0.3rem;
  margin-top: 0.19rem;
}
.cont > div:nth-child(2) > span:nth-child(2) {
  float: left;
  font-size: 0.28rem;
  line-height: 0.8rem;
  padding-left: 0.34rem;
}
.cont > div:nth-child(2) > span:nth-child(3) {
  box-sizing: border-box;
  line-height: 0;
  float: right;
  width: 0.2rem;
  height: 0.34rem;
  background: url("../img/icons/29.png") no-repeat 50% 50%;
  background-size: contain;
  margin-right: 0.3rem;
  margin-top: 0.23rem;
}
.cont > div:nth-child(3) {
  margin-top: 0.5rem;
}
.cont > div:nth-child(3) > div:nth-child(1) {
  height: 0.8rem;
  background-color: #fff;
  border-bottom: solid 1px #f7f7f7;
}
.cont > div:nth-child(3) > div:nth-child(1) > span:nth-child(1) {
  box-sizing: border-box;
  line-height: 0;
  float: left;
  width: 0.41rem;
  height: 0.41rem;
  background: url("../img/icons/27.png") no-repeat 50% 50%;
  background-size: contain;
  margin-left: 0.3rem;
  margin-top: 0.19rem;
}
.cont > div:nth-child(3) > div:nth-child(1) > span:nth-child(2) {
  float: left;
  font-size: 0.28rem;
  line-height: 0.8rem;
  padding-left: 0.34rem;
}
.cont > div:nth-child(3) > div:nth-child(1) > span:nth-child(3) {
  box-sizing: border-box;
  line-height: 0;
  float: right;
  width: 0.2rem;
  height: 0.34rem;
  background: url("../img/icons/29.png") no-repeat 50% 50%;
  background-size: contain;
  margin-right: 0.3rem;
  margin-top: 0.23rem;
}
.cont > div:nth-child(3) > div:nth-child(2) {
  height: 0.8rem;
  background-color: #fff;
}
.cont > div:nth-child(3) > div:nth-child(2) > span:nth-child(1) {
  box-sizing: border-box;
  line-height: 0;
  float: left;
  width: 0.41rem;
  height: 0.41rem;
  background: url("../img/icons/28.png") no-repeat 50% 50%;
  background-size: contain;
  margin-left: 0.3rem;
  margin-top: 0.19rem;
}
.cont > div:nth-child(3) > div:nth-child(2) > span:nth-child(2) {
  float: left;
  font-size: 0.28rem;
  line-height: 0.8rem;
  padding-left: 0.34rem;
}
.cont > div:nth-child(3) > div:nth-child(2) > span:nth-child(3) {
  box-sizing: border-box;
  line-height: 0;
  float: right;
  width: 0.2rem;
  height: 0.34rem;
  background: url("../img/icons/29.png") no-repeat 50% 50%;
  background-size: contain;
  margin-right: 0.3rem;
  margin-top: 0.23rem;
}
